

h1 {
	font-family: "arial", "sans-serif";
    font-size: 19px;
    font-weight: bold;	
}

#inbox, #inboxCount {
	font-family: "arial", "sans-serif";
	font-size: 13px;
	display: inline-block;
	font-weight: bold;
}

#container {
	font-family: "arial","sans-serif";
	font-size: 13px;
	width: 1000px;
	display: table;
	table-layout: fixed;
	z-index: -1;

}

#headerRow {
	display: table-cell;
	height: 30px;
	font-weight: bold;
	vertical-align: middle;
	border-bottom: solid;
	border-top: solid;
	border-width: thin;

}

.mailArea {
	display: table-row;
	height: 30px;
	position: relative;
	z-index: -2;
	border-style: solid;
	border-bottom: thick dotted;
}

	

.hidden {
	display: none;
	
}

.unhidden-body, .bodyArea {
	display: table-row;
	position: relative;
	z-index: 1;
	float: left;
	width: 1000px;
	text-align: center;
}



.subjectArea {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	height: auto;
	width: 30%;
}

.senderArea {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	height: auto;
	width: 30%;
	z-index: 0;

}

.dateArea {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	height: auto;
	width: 30%;
	z-index: 0;
}




