.hidden {
	display: none;
}

.unhidden-body {
	display: block;
}

h1 {
	font-family: "arial", "sans-serif";
    font-size: 19px;
    font-weight: bold;	
}

#container {
	font-family: "arial","sans-serif";
	font-size: 13px;
	background-color: green;
	width: 100%;
	display: table;
	/*table-layout: fixed;*/
/*	position: relative;
	z-index: 0;*/
}

.mailArea {
	display: table-row;
	background-color: red;
	height: 50px;
	position: relative;
	z-index: -1;
}

.subjectArea {
	display: table-cell;
	background: pink;
	vertical-align: middle;
	/*position: relative;*/
	/*z-index: 3;*/
	height: auto;
}

.senderArea {
	display: table-cell;
	background-color: blue;
	vertical-align: middle;
	/*position: relative;*/
	height: auto;


}

.dateArea {
	display: table-cell;
	background-color: purple;
	vertical-align: middle;
	position: relative;
	/*z-index: 0;*/
	height: auto;

}
.bodyArea {
	display: table-cell;
	position: absolute;
	background-color: yellow;
	width: 100%;
	z-index: 0;



}



